.ant-menu-dark
	background-color: #000 !important

.ant-menu-horizontal
	padding-left: 50px
	padding-right: 50px
	text-align: right

	> li
		color: #fff
		font-weight: bold
		text-transform: uppercase
